<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.cms.dao.extend.CommentExtendMapper">
  <!-- Comment评论类扩展xml文件,通过article_id查询该文章所有的评论 -->
  <select id="selectByArticleId" parameterType="long" resultType="com.briup.apps.cms.bean.Comment">
  	SELECT *
  	FROM CMS_COMMENT
  	WHERE ARTICLE_ID=#{article_id,jdbcType=BIGINT}
  </select>
  
  <select id="selectAll" resultType="com.briup.apps.cms.bean.Comment">
  	SELECT *
  	FROM CMS_COMMENT
  </select>
</mapper>